@media screen and (min-width: 1292px) {
.im-page_classic.im-page .im-page--mess-search{width: calc(100% - 690px);}
.wall_text .page_post_sized_thumbs:last-child,.page_post_sized_thumbs,.page_gif_large{margin-left: calc(50% - 260px);}
#page_header{width: 100%;}
#ts_wrap{padding-left: calc(100% - 1444px)}
#page_body{calc(100% - 176px);}
#page_layout{width: calc(100% - 284px);}
.im-right-menu{right:0px;}
.im-page_classic.im-page{width: calc(100% - 238px);}
.im-page_classic.im-page .im-page--header, .im-page_classic .im-page--chat-header, .im-page_classic.im-page .im-page--chat-input{max-width:none; width:calc(100% - 689px);}
.im-chat-input.im-chat-input_classic .im-chat-input--textarea{width:calc(100% - 87px);}
.im-page_classic.im-page .im-mess:not(.im-mess_fwd){max-width:100%;}
.im-page_classic.im-page .im-mess-stack{max-width: calc(100%);}
._im_peer_history .im-page-chat-contain{max-width:100%;}
._im_peer_history .im-page-chat-contain{width:calc(100% - 1087px);}
.im-page_classic.im-page .im-mess:not(.im-mess_fwd).im-mess_unread:not(.im-mess_selected){max-width: 100%;}
.im-chat-input .im-chat-input--textarea{width: calc(100% - 102px);}
.nim-dialog.nim-dialog_classic.nim-dialog_unread-out .nim-dialog--inner-text{max-width: 100%; width: 100%;}
.im-page_classic.im-page .im-page--dialogs-footer{width: 100%; max-width: calc(100% - 689px);}
//.page_cover{width: 365px;}
.top_audio_player{max-width: 90%;}
span.nim-dialog--inner-text{}
.audio_page_layout .has_friends_block .audio_page__rows_wrap{width: calc(100% - 239px);}
#dev_page_wrap2{width:calc(100% - 465px);margin-right: 226px;}
.no_wrap_cont .dev_page_cont_wrap{width:100%;}
.apps_manage_layout{width:100%;}
.apps_manage_layout .app_settings_info{width:calc(100% - 313px);}
.audio_section.audio_w_covers._audio_section._audio_section__current audio_section__current{margin-left:-20px;}
}


#page_header_cont .back, #dev_top_nav_wrap{
background: #2b2a29;
}
.dev_top_link.sel, .dev_top_link.sel:hover, .dev_home_link:hover, .dev_top_link:hover{
background-color: #1d1d1c;}

body{
background: #DDD;
}


.top_nav_btn#top_audio.active .top_nav_btn_icon {
background-color: #222;
}


input.text.ts_input {
background: #F5F5F5 url(/images/icons/dev_head_magglass.png) no-repeat;
background-position: 2px 7px;
}

.left_count_wrap {
background: #cFcFcF;
}

#side_bar ol li .left_row:hover {
background: #d5d5d5;
}

.top_nav_link:hover{
background: #222;
}

.top_nav_link.active {
background: #222;
}

.top_nav_btn.active {
background: #222;
}

.im-page .im-page--history-new-bar{
background: #eee;
}

.im-page_classic.im-page .im-page--chat-input{
border: 0 0 0 0;
border-bottom: solid 15px #ddd;
border-left: solid 1px #ddd;
border-right: solid 1px #ddd;
}

.im-page_classic .im-page--chat-header {
border-top: solid 15px #ddd;
border-left: solid 1px #ddd;
border-right: solid 1px #ddd;
}

.im-page_classic.im-page .im-page--header {
border-top: solid 15px #ddd;
border-left: solid 1px #ddd;
border-right: solid 1px #ddd;
}

.top_audio_player:hover{
background: #222;
color: #e5e5e5;
}

.top_audio_player .top_audio_player_title {
color: #e5e5e5;
}

.ui_rmenu_item, .ui_rmenu_subitem {
color: black;
}

yatag.ya-partner_ads {
display: none!important;
}

div.page_block.stories_feed_wrap.clear_fix.stories_feed_not_nav_buttons{
display: none;
}

.chat_onl_inner{
background: #222;
}

.chat_tab_wrap:hover{
background: #191919;
}

.ui_rmenu_sliding .ui_rmenu_slider{
background-color: #333;
}

#side_bar ol li .left_row{
color: black;
}

.ui_actions_menu{
opacity: 0.6;
}

.ui_actions_menu_wrap.shown .ui_actions_menu{
opacity: 0.6;
}

.im-page.im-page--history-new-bar{
height: 0px;
margin-bottom: 50px;
}

.top_notify_header, .top_notify_prefs_lnk{
color: darkslategrey;
}

.top_profile_mrow{
color: black;
}

.box_title_wrap{
background: #222;
}

.button_blue button, .button_gray button, .button_light_gray button, .flat_button{
background-color: #555;
}

.button_blue button.hover, .button_blue button:hover, .flat_button.hover, .flat_button:hover{
background-color: #777;
}

.im-page .im-page--history-new-bar{
background-color: #fff;
}

.profile_msg_split .profile_btn_cut_left{
border-color: #333;
}

#ads_left.ads_left_empty+.left_menu_nav_wrap{
display: none;
}

.fc_tab_head{
background-color: #333;
border: 1px solid #444;
}

.fc_msgs_out .fc_msgs{
background-color: #ddf;
border: 1px solid #ccf;
}

div.fc_msgs_author{
display: none;
}

.box_controls .flat_button.secondary, .flat_button.secondary.button_light{
background: #555;
color: white;
}

.box_controls .flat_button.secondary:hover, .flat_button.secondary.button_light:hover{
background: #777;
}

.im-page_classic.im-page .im-chat-history-resize{
background: #ddd;
}

.nim-dialog:not(.nim-dialog_deleted).nim-dialog_muted.nim-dialog_selected, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected{
background: #555;
}
.top_nav_btn#top_notify_btn .top_nav_btn_icon{
background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M8%2C18%20C6.64583333%2C18%205.5%2C17.3%205.5%2C16%20L10.5%2C16%20C10.5%2C17.3%209.35416667%2C18%208%2C18%20Z%20M13.9956933%2C11%20C13.9956933%2C12.5%2016%2C12.5%2016%2C13.5%20C16%2C14%2016%2C15%2013.8955984%2C15%20L1.98430985%2C15%20C-6.19060359e-13%2C15%20-1.62536651e-13%2C14%20-1.63424829e-13%2C13.5%20C-1.63369318e-13%2C12.5%201.98430985%2C12.5%202%2C11%20L2%2C8%20C2%2C4%204.09724901%2C1.5%207%2C1.1%20L7%2C1%20C7%2C0.4%207.5%2C5.74053187e-17%208%2C0%20C8.5%2C0%209%2C0.4%209%2C1%20L9%2C1.1%20C11.902751%2C1.5%2013.9956933%2C4%2013.9956933%2C8%20L13.9956933%2C11%20Z%22%20transform%3D%22translate(2%201)%22%2F%3E%3C%2Fsvg%3E");
}

 top_nav_btn#top_notify_btn:hover .top_nav_btn_icon{
background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M8%2C18%20C6.64583333%2C18%205.5%2C17.3%205.5%2C16%20L10.5%2C16%20C10.5%2C17.3%209.35416667%2C18%208%2C18%20Z%20M13.9956933%2C11%20C13.9956933%2C12.5%2016%2C12.5%2016%2C13.5%20C16%2C14%2016%2C15%2013.8955984%2C15%20L1.98430985%2C15%20C-6.19060359e-13%2C15%20-1.62536651e-13%2C14%20-1.63424829e-13%2C13.5%20C-1.63369318e-13%2C12.5%201.98430985%2C12.5%202%2C11%20L2%2C8%20C2%2C4%204.09724901%2C1.5%207%2C1.1%20L7%2C1%20C7%2C0.4%207.5%2C5.74053187e-17%208%2C0%20C8.5%2C0%209%2C0.4%209%2C1%20L9%2C1.1%20C11.902751%2C1.5%2013.9956933%2C4%2013.9956933%2C8%20L13.9956933%2C11%20Z%22%20transform%3D%22translate(2%201)%22%2F%3E%3C%2Fsvg%3E");
}

.top_nav_btn:hover {
background-color: #222; 
}
.top_nav_btn#top_audio .top_nav_btn_icon{background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M14%2C11.1552322%20L14%2C5.5%20L7%2C7.5%20L7%2C15.2999878%20C7%2C15.2999878%206.99923979%2C15.2998738%206.99774901%2C15.2996427%20C6.99305423%2C16.449672%205.98201611%2C17.5525634%204.53840209%2C17.8858479%20C2.90786903%2C18.2622862%201.34293783%2C17.5143682%201.04303041%2C16.2153265%20C0.743122996%2C14.9162848%201.82180821%2C13.5580399%203.45234127%2C13.1816017%20C3.98965862%2C13.0575522%204.51985206%2C13.0556001%205%2C13.1552322%20L5%2C3.9955775%20C5%2C3.44483697%205.42843442%2C2.88315425%205.95693506%2C2.73901771%20L15.0430649%2C0.26098229%20C15.568787%2C0.117603555%2016%2C0.447563354%2016%2C0.999660731%20L16%2C13.2999878%20C15.999253%2C13.2998718%2015.9985027%2C13.2997528%2015.9977491%2C13.2996309%20C15.9930612%2C14.4496644%2014.9820211%2C15.5525622%2013.5384021%2C15.8858479%20C11.907869%2C16.2622862%2010.3429378%2C15.5143682%2010.0430304%2C14.2153265%20C9.743123%2C12.9162848%2010.8218082%2C11.5580399%2012.4523413%2C11.1816017%20C12.9896586%2C11.0575522%2013.5198521%2C11.0556001%2014%2C11.1552322%20Z%22%20transform%3D%22translate(1%201)%22%2F%3E%3C%2Fsvg%3E");}
.top_nav_btn._top_nav_audio_btn:hover .top_nav_btn_icon{background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M14%2C11.1552322%20L14%2C5.5%20L7%2C7.5%20L7%2C15.2999878%20C7%2C15.2999878%206.99923979%2C15.2998738%206.99774901%2C15.2996427%20C6.99305423%2C16.449672%205.98201611%2C17.5525634%204.53840209%2C17.8858479%20C2.90786903%2C18.2622862%201.34293783%2C17.5143682%201.04303041%2C16.2153265%20C0.743122996%2C14.9162848%201.82180821%2C13.5580399%203.45234127%2C13.1816017%20C3.98965862%2C13.0575522%204.51985206%2C13.0556001%205%2C13.1552322%20L5%2C3.9955775%20C5%2C3.44483697%205.42843442%2C2.88315425%205.95693506%2C2.73901771%20L15.0430649%2C0.26098229%20C15.568787%2C0.117603555%2016%2C0.447563354%2016%2C0.999660731%20L16%2C13.2999878%20C15.999253%2C13.2998718%2015.9985027%2C13.2997528%2015.9977491%2C13.2996309%20C15.9930612%2C14.4496644%2014.9820211%2C15.5525622%2013.5384021%2C15.8858479%20C11.907869%2C16.2622862%2010.3429378%2C15.5143682%2010.0430304%2C14.2153265%20C9.743123%2C12.9162848%2010.8218082%2C11.5580399%2012.4523413%2C11.1816017%20C12.9896586%2C11.0575522%2013.5198521%2C11.0556001%2014%2C11.1552322%20Z%22%20transform%3D%22translate(1%201)%22%2F%3E%3C%2Fsvg%3E");}



.top_nav_btn#top_audio:hover .top_nav_btn_icon{
background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M14%2C11.1552322%20L14%2C5.5%20L7%2C7.5%20L7%2C15.2999878%20C7%2C15.2999878%206.99923979%2C15.2998738%206.99774901%2C15.2996427%20C6.99305423%2C16.449672%205.98201611%2C17.5525634%204.53840209%2C17.8858479%20C2.90786903%2C18.2622862%201.34293783%2C17.5143682%201.04303041%2C16.2153265%20C0.743122996%2C14.9162848%201.82180821%2C13.5580399%203.45234127%2C13.1816017%20C3.98965862%2C13.0575522%204.51985206%2C13.0556001%205%2C13.1552322%20L5%2C3.9955775%20C5%2C3.44483697%205.42843442%2C2.88315425%205.95693506%2C2.73901771%20L15.0430649%2C0.26098229%20C15.568787%2C0.117603555%2016%2C0.447563354%2016%2C0.999660731%20L16%2C13.2999878%20C15.999253%2C13.2998718%2015.9985027%2C13.2997528%2015.9977491%2C13.2996309%20C15.9930612%2C14.4496644%2014.9820211%2C15.5525622%2013.5384021%2C15.8858479%20C11.907869%2C16.2622862%2010.3429378%2C15.5143682%2010.0430304%2C14.2153265%20C9.743123%2C12.9162848%2010.8218082%2C11.5580399%2012.4523413%2C11.1816017%20C12.9896586%2C11.0575522%2013.5198521%2C11.0556001%2014%2C11.1552322%20Z%22%20transform%3D%22translate(1%201)%22%2F%3E%3C%2Fsvg%3E");
}


.top_nav_btn#top_notify_btn:hover .top_nav_btn_icon{
background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M8%2C18%20C6.64583333%2C18%205.5%2C17.3%205.5%2C16%20L10.5%2C16%20C10.5%2C17.3%209.35416667%2C18%208%2C18%20Z%20M13.9956933%2C11%20C13.9956933%2C12.5%2016%2C12.5%2016%2C13.5%20C16%2C14%2016%2C15%2013.8955984%2C15%20L1.98430985%2C15%20C-6.19060359e-13%2C15%20-1.62536651e-13%2C14%20-1.63424829e-13%2C13.5%20C-1.63369318e-13%2C12.5%201.98430985%2C12.5%202%2C11%20L2%2C8%20C2%2C4%204.09724901%2C1.5%207%2C1.1%20L7%2C1%20C7%2C0.4%207.5%2C5.74053187e-17%208%2C0%20C8.5%2C0%209%2C0.4%209%2C1%20L9%2C1.1%20C11.902751%2C1.5%2013.9956933%2C4%2013.9956933%2C8%20L13.9956933%2C11%20Z%22%20transform%3D%22translate(2%201)%22%2F%3E%3C%2Fsvg%3E");
}
.im-page_classic.im-page .im-mess:not(.im-mess_fwd).im-mess_unread:not(.im-mess_selected):not(.im-mess_light){max-width: none;}
.nim-dialog.nim-dialog_classic.nim-dialog_unread-out .nim-dialog--inner-text, .nim-dialog.nim-dialog_classic.nim-dialog_unread-out.nim-dialog_muted .nim-dialog--inner-text{width: 100%;;max-width: none;}
.dev_method_view_page .dev_page_cont_wrap, .no_wrap_cont .dev_page_cont_wrap{width: 100%;}
.dev_method_block, .dev_page_cont_wrap{width: 100%;}
body.dev input.dev_top_input{background-color: #FFF;}
.dev_joined_blocks .dev_page_block{width:calc(50% - 10px);}
